@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 271 83% 97%;
    --foreground: 271 100% 16%;
    --card: 0 0% 100%;
    --card-foreground: 271 100% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 271 100% 16%;
    --primary: 265 100% 16%; /* #21004f */
    --primary-foreground: 0 0% 98%;
    --secondary: 270 90% 96%;
    --secondary-foreground: 271 100% 16%;
    --muted: 270 90% 96%;
    --muted-foreground: 265 15% 45%;
    --accent: 265 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 80% 91%;
    --input: 0 0% 100%;
    --ring: 265 100% 16%;
    --chart-1: 265 100% 16%;
    --chart-2: 265 80% 50%;
    --chart-3: 265 60% 70%;
    --chart-4: 265 90% 30%;
    --chart-5: 265 70% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 271 100% 10%;
    --foreground: 0 0% 98%;
    --card: 271 100% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 271 100% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 271 83% 97%;
    --primary-foreground: 265 100% 16%;
    --secondary: 271 100% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 271 100% 15%;
    --muted-foreground: 270 20% 65%;
    --accent: 265 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 100% 15%;
    --input: 271 100% 15%;
    --ring: 271 83% 97%;
    --chart-1: 271 83% 97%;
    --chart-2: 265 80% 50%;
    --chart-3: 265 60% 70%;
    --chart-4: 265 90% 30%;
    --chart-5: 265 70% 40%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
